body {
    /*Set height according to viewport*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* COMMON PROPERTIES */

header,
footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
}


a,
.header__navs__links,
.header__main__cta__description {
    font-size: 18px;
    color: #e5e7eb;
}


/* HEADER SPECIFIC RULES STARTS FROM HERE */
header {
    min-height: 300px;
    gap: 32px;
    padding: 64px;
}

.header__navs {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.header__navs__logo {
    font-size: 24px;
    color: #f9faf8;
    flex: auto;
}

.header__navs__links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__main {
    display: flex;
    flex: auto;
    gap: 16px;
    align-items: center;
}

.header__main__cta {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header__main__cta__title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header__main__img {
    background-color: rgb(88, 88, 88);
    text-align: center;
    align-content: center;
    flex: 2;
    height: 250px;
}

/* HEADER SPECIFIC RULES ENDS HERE*/


main {
    flex: auto;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 4px;
    width: 128px;
    height: 32px;
    border-radius: 8px;
    border-color: #176ef9;
}

a {
    text-decoration-line: none;
}